@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@font-face {
    font-family: 'Fira Code'; 
    src: url('/storage/Fonts/FiraCode/FiraCode-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;  
}

@font-face {
    font-family: 'JetBrainsMono-Light'; 
    src: url('/Fonts/FiraCode/JetBrainsMono-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;  
}

@theme {
    /* color btn */
    --color-primary-btn: #4F91CD;  /* biru terang */
    --color-secondary-btn: #3B6FA1;  /* biru sedang */
    /* color background */
    --color-primary-background: #283243;  /* biru sedang */
    --color-secondary-background: #1F2A3C;  /* biru tua */
    /* color text */
    --color-primary-text: #ffffff;  /* putih terang */
    --color-secondary-text: #E0E7FF;  /* putih abu */
}

body {
   font-family: 'Fira Code', monospace; 
}
